*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

.container {
    width: 100%;
}

#navbar {
    position: fixed;
    top: 0;
    background-color: maroon;
    width: 100%;
    min-height: 70px;
}

#navbar>#navbar-list {}