:root {
    --text-white: #fffcf2;
    --header-color: #eb5e28;
    --main-blue: #45567d;
    --main-green: #45a29e;
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--text-white);
    font-size: 3rem;
    line-height: 1.5;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    position: relative;
}

#navbar {
    position: fixed;
    top: 0;
    background-color: var(--header-color);
    width: 100%;
}

#navbar>.navbar-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2rem;
}

.navbar-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2.5rem;
    color: var(--text-color);
}

.navbar-list a:hover {
    background: var(--main-blue);
}

#welcome-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(65deg, #3d405b 0, #252422 100%);
    font-size: 3.5rem;
}

#welcome-section>p {
    color: var(--header-color);
    font-style: italic;
}

img {
    display: block;
    width: 100%;
}

#projects {
    text-align: center;
    padding: 2rem;
    background: var(--main-green);
}

.projects-header {
    max-width: 500px;
    margin: 0 auto 5rem auto;
    border-bottom: 0.2rem solid var(--text-white);
    font-size: 3.2rem;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.project-title {
    background: #303841;
    color: var(--text-white);
    font-size: 2.4rem;
    text-align: center;
    padding-top: 1.5rem;
}

.project {
    background: #303841;
    border-radius: 4px;
}

.code {
    color: #303841;
    transition: color 0.5s ease-out;
}

.project-grid:hover .code {
    color: var(--header-color);
}

.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.btn-show-all {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
    color: var(--text-white);
    font-size: 2rem;
    background: #303841;
    transition: background 0.3s ease-out;
}

.btn-show-all:hover {
    background: var(--header-color);
}

.btn-show-all:hover>i {
    transform: translateX(4px);
}

.btn-show-all>i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}