:root {
    --text-white: #fffcf2;
    --header-color: #eb5e28;
    --main-blue: #45567d;
    --main-green: #45a29e;
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--text-white);
    font-size: 3rem;
    line-height: 1.5;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    position: relative;
}

#navbar {
    position: fixed;
    top: 0;
    background-color: var(--header-color);
    width: 100%;
}

#navbar>.navbar-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2rem;
}

.navbar-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2.5rem;
    color: var(--text-color);
}

.navbar-list a:hover {
    background: var(--main-blue);
}

#welcome-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(65deg, #3d405b 0, #252422 100%);
    font-size: 3.5rem;
}

#welcome-section>p {
    color: var(--header-color);
    font-style: italic;
}

img {
    display: block;
    width: 100%;
}

#projects {
    text-align: center;
    padding: 2rem;
    background: var(--main-green);
}

.projects-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--text-white);
    font-size: 3.2rem;
}